
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    padding: 0%;
    margin: 0%;
}



body{
     background:white;
    
}


h1{
    text-align: center;
    color:black;
    font-size: 50px;
    padding-top: 5px;
    font-family: 'Fredoka One', cursive;
   
}






hr{
    margin: 0px 400px;  
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: white;
    border: 3px solid rgb(0, 0, 0);
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
  height:476px;
  background-color: beige;
  
}

#insta img{
    height:100px;
    width:100px;
    margin-right: 40px;
    
}

#face img{
    height: 116px;
    width: 120px;
    margin-right: 25px;
}


#youtube img{
    height:100px;
    width:150px;
    margin-right: 25px;
}

#linkedin img{
    height: 85px;
    width: 90px;
    margin-right: 50px;
}
#twitter img{
    height:107px;
    width:110px;
}


/*    resposive website */
@media (min-width:0px) and (max-width : 1233px){
 


h1{
    font-size: 20px;
    padding-left: 7px;
    padding-top: 10px;
}

hr{
    width: 75%;
    margin: 8px 45px;
    padding-bottom: 3px;
}

.container{
    display:flex;
    flex-direction: column;
  height:610px;
  width:100%;
   background-color: rgb(253,237,237);
}


#insta img{
      height:101px;
    width:100px;  
   padding-left: 26px;
}


#face img{
height: 100px;
    width: 116px;
    padding-left: 13px;
}


#youtube img{
   height: 95px;
    width: 160px;
    padding-left: 18px;
  
}
#linkedin img{
    height: 80px;
    width: 90px;
    padding-top: 15px;
    padding-left: 33px;
}
#twitter img{
       height: 121px;
    width: 128px;
    padding-top: 15px;
    /* padding-left: 0px; */
    padding-right: 11px;
}

}
